config MODULE_IEQMA28
	bool
	select USB_ARCH_HAS_EHCI

config MODULE_TQMA28L
	bool
	select USB_ARCH_HAS_EHCI

choice
	prompt "Select i.MXS board type"

config MACH_MX28EVK
	bool "Freescale MX28 EVK board"
	depends on ARCH_MX28
	select USB_ARCH_HAS_EHCI

config MACH_MBA28
	bool "TQ MBA28 board with TQMA28 module"
	depends on ARCH_MX28
	select USB_ARCH_HAS_EHCI
	select MACH_TQMA28

config MACH_QX28
	bool "I2SE QX28 board with IEQMa28 module"
	depends on ARCH_MX28
	select MODULE_IEQMA28

config MACH_VC200
	bool "Viessmann Vitocom 100/150/200"
	depends on ARCH_MX28
	select MODULE_TQMA28L

config MACH_VC300
	bool "Viessmann Vitocom 300"
	depends on ARCH_MX28
	select MODULE_TQMA28L

config MACH_EM300
	bool "Viessmann Erweiterungsmodul 300"
	depends on ARCH_MX28
	select MODULE_TQMA28L

config MACH_HOMEBOX
	bool "IEQualize Home-Box"
	depends on ARCH_MX28
	select MODULE_TQMA28L
endchoice

config VECTORS_PHY_ADDR
	int "vectors address"
	default 0
	help
	  This config set vectors table is located which physical address

config MXS_TIMER_WITH_MACH
	bool "System Timer support Compare Match interrupt"
	default y

config MEM_mDDR
	bool "Memory type is mDDR"
	depends on ARCH_MX28
	help
	  Say Y to select mDDR memory
